- var css = 'main.css'
- var cssExt = 'https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css'
- var js = 'main.js'
- var jsExt = 'https://cdnjs.cloudflare.com/ajax/libs/mithril/1.1.1/mithril.min.js'
doctype html
html(lang='en')
  head
    link(rel='manifest', href='manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title Hacker News :: mithril + spectre
    meta(name='theme-color', content='#c6caeb')
    link(rel='shortcut icon' href='favicon.ico')
    //- link(rel='stylesheet' href=cssExt)
    //- link(rel='preload', as='style' href=cssExt)
    style
      include ../purif.css
    link(rel='stylesheet' href=css)
    link(rel='preload', as='style' href=css)

    //- link(rel='stylesheet' href='ext/spectre.css')
    //- style
    //-   include ../node_modules/spectre.css/dist/spectre.min.css
    //-   include ../public/main.css
    link(rel='preload', as='script' href=jsExt)
    link(rel='preload', as='script' href=js)
  body
    #navigation.tab.tab-block
      .tab-item.active 
        a(href="#!/", data-link='news') Top
      .tab-item
        a(href="#!/newest/1", data-link='newest') Newest
      .tab-item
        a(href="#!/ask/1", data-link='ask') Ask
      .tab-item
        a(href="#!/show/1", data-link='show') Show
      .tab-item
        a(href="#!/jobs/1", data-link='jobs') Jobs
    #container
    script(src=jsExt)
    //- script(src='ext/mithril.js')
    script(src=js)
